/* You can add global styles to this file, and also import other style files */

/* Lo siguiente se usa para posicionar el footer al final de cada página*/
html {
  min-height: 100%;
  position: relative;
}
body {
  margin: 0;
  margin-bottom: 40px;
}
